[Unit]
Description=boneIO OLED boot splash
DefaultDependencies=no
After=local-fs.target systemd-modules-load.service
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/oled_msg.sh "boneIO Black" "is starting." "Please wait..."
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
