[Unit]
Description=boneIO OLED boot splash
DefaultDependencies=no
After=local-fs.target systemd-modules-load.service
Before=sysinit.target multi-user.target BoneIO.service
ConditionPathExists=/usr/sbin/oled_msg.sh

[Service]
Type=oneshot
ExecStart=/usr/sbin/oled_msg.sh "boneIO Black" "is starting." "Please wait..."
RemainAfterExit=yes
ExecStop=/usr/sbin/oled_msg.sh "boneIO Black App" "is loading..."

[Install]
WantedBy=sysinit.target
